<div>
  <div class='row'>
    <div>Team</div>
    <div>
      <select data-ng-model='add.team'>
        <option ng-value="newTeam">new</option>
        <option data-ng-repeat='x in teams' ng-value='x.team'>{{x.team}}</option>
      </select>
      <input data-ng-model='newTeam' type="number">
    </div>
	<div>Match Number</div>
    <input ng-model='add.match'>
    <hr>
  </div>
  <div class='row' data-ng-repeat='p in curGame.game'>
    <div>
      {{p.name}}
    </div>
    <div>
      <textarea data-ng-if='p.type==="String"' data-ng-model='add.elements[p.name]'></textarea>
      <span data-ng-if='p.type==="Boolean"'>
        <input type="radio" ng-model="add.elements[p.name]" ng-value="true">True<br/>
        <input type="radio" ng-model="add.elements[p.name]" ng-value="false">False<br/>
      </span>
      <span data-ng-if='p.type==="Number"'>
        <p>{{add.elements[p.name] || 0 }}</p>
        <button ng-click="add.elements[p.name] = add.elements[p.name] + 1">+</button>
        <button ng-if='add.elements[p.name]>0' ng-click="add.elements[p.name] = add.elements[p.name] - 1">-</button>
      </span>
    </div>
    <hr>
  </div>
  <button class="btn btn-success" ng-click='addSub(add)'>Send</button>
  <hr>
  <ul>
    <li data-ng-repeat='y in curGame.calc'>{{y.name}}:{{getValue(add.elements,y.elements)}}</li>
  </ul>
</div>
