<div>
  <div class='row'>
    <div class="col-md-4 col-sm-12">
      <table class="table table-striped table-condensed table-bordered">
        <tbody>
          <tr>
            <td>Team</td>
            <td>
              <select class="form-control" ng-model='add.team'
                      ng-options="x.team as (x.team+' ('+x.name+')') for x in teams | orderBy: 'team' ">
                <option value="">new</option>
              </select>
            </td>
            <td ng-show='add.team===undefined || add.team===null'>
              <div class="input-group">
                <input ng-model='newTeam' type="text" class="form-control" placeholder="team number ex: 4118">
                <span class="input-group-btn">
                  <button ng-click='teams.push({team:newTeam});add.team=newTeam;newTeam=null' class="btn btn-default" type="button">Add</button>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-sm-12">
      <table class="table table-striped table-condensed table-bordered">
        <tbody>
          <tr>
            <td>Side</td>
            <td>
              <div class="radio">
                <label>
                  <input ng-model='add.side' type="radio" value="Red">
                  Red
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-model='add.side' type="radio" value="Blue">
                  Blue
                </label>
              </div>
            </td>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-sm-12">
      <table class="table table-striped table-condensed table-bordered">
        <tbody>
          <tr>
            <td>Match</td>
            <td>
              <input class="form-control" type='text' placeholder='match ex: quaters1match2, qual7, finals2'ng-model='add.match'>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class="col-md-4 col-sm-12">
      <table class="table table-striped table-condensed table-bordered">
        <tbody>
          <tr ng-repeat='p in curGame.game | filter:{"type":"Number"}'>
            <td>{{p.name}}</td>
            <td>
              <div class="btn-group" role="group">
                <button ng-disabled='add.elements[p.name]===0' ng-click="add.elements[p.name] = add.elements[p.name] - 1" type="button" class="btn btn-warning">
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default">
                  {{add.elements[p.name] = add.elements[p.name] || 0}}
                </button>
                <button ng-click="add.elements[p.name] = add.elements[p.name] + 1" type="button" class="btn btn-success">
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-sm-12">
      <table class="table table-striped table-condensed table-bordered">
        <tbody>
          <tr ng-repeat='p in curGame.game | filter:{"type":"String"}'>
            <td>{{p.name}}</td>
            <td>
              <input ng-model='add.elements[p.name]' class='form-control' type='text'>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 col-sm-12">
      <table class="table table-striped table-condensed table-bordered">
        <tbody>
          <tr ng-repeat='p in curGame.game | filter:{"type":"Boolean"}'>
            <td>{{p.name}}</td>
            <td>
              <div class="radio">
                <label>
                  <input ng-model='add.elements[p.name]' type="radio" ng-value="true">
                  True
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-model='add.elements[p.name]' type="radio" ng-value="false">
                  False
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8 col-sm-12">
      <table class="table table-striped table-condensed table-bordered">
        <tbody>
          <tr ng-repeat='p in curGame.calc'>
            <td>{{p.name}}</td>
            <td>
              {{getValue(add.elements,p.elements)}}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div width='100%'>
                <button width='100%' class="btn btn-success" ng-click='addSub(add)'>Send</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
