<div>
  <p>Game ID: {{curGame._id}}</p>
  <h4>Created on: {{getDate(curGame._id) | date:'short'}}</h4>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label">Name: </label>
      <div>
        <input data-ng-model='curGame.name' class="form-control" placeholder="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Description: </label>
      <div>
        <textarea data-ng-model='curGame.description' class="form-control" placeholder="description"></textarea>
      </div>
    </div>
  </form>
  <table class='table table-bordered table-striped table-hover'>
    <tr>
      <th colspan='500'>Sample Match</th>
    </tr>
    <tr>
      <td data-ng-repeat='q in curGame.game'>{{q.name}}</td>
      <td data-ng-repeat='k in curGame.calc'>{{k.name}}</td>
    </tr>
    <tr>
      <td data-ng-repeat='p in curGame.game'>
        <textarea data-ng-if='p.type==="String"' class="form-control" data-ng-model='sample.elements[p.name]' placeholder='wow!'></textarea>
        <form data-ng-if='p.type==="Boolean"'>
          <input type="radio" ng-model="sample.elements[p.name]" ng-value="true">True<br/>
          <input type="radio" ng-model="sample.elements[p.name]" ng-value="false">False<br/>
        </form>
        <div data-ng-if='p.type==="Number"' class="btn-group-vertical" role="group">
          <button ng-click="sample.elements[p.name] = sample.elements[p.name] + 1" type="button" class="btn btn-xs btn-success">+</button>
          <button type="button" class="btn btn-sm btn-default">{{sample.elements[p.name] || 0 }}</button>
          <button ng-disabled="(sample.elements[p.name] || 0)<=0" ng-click="sample.elements[p.name] = sample.elements[p.name] - 1" type="button" class="btn btn-xs btn-danger">-</button>
        </div>
      </td>
      <td data-ng-repeat='h in curGame.calc'>{{getValue(sample.elements || [],h.elements || [])}}</td>
    </tr>
  </table>
</div>
<div class='row'>
  <div class='col-md-5'>
    <table class='table table-bordered table-striped table-hover'>
      <tr>
        <th colspan='3'>Game Elements <p class="text-warning">WARNING! Changing these can mess up current submissions</p></th>
      </tr>
      <tr>
        <th>Name</th>
        <th colspan='2'>Data Type</th>
      </tr>
      <tr data-ng-repeat='x in curGame.game'>
        <td><input class="form-control" data-ng-model='x.name'></td>
        <td>
          <select class="form-control" data-ng-model='x.type'>
            <option>Number</option>
            <option>String</option>
            <option>Boolean</option>
          </select>
        </td>
        <td>
          <button class='btn btn-sm btn-danger' data-ng-click="curGame.game.splice($index,1)">
            <span class='glyphicon glyphicon-minus-sign' aria-hidden="true"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <button class="btn btn-sm btn-success" data-ng-click='curGame.game.push({name:"",type:"String"})'>
            <span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class='col-md-7'>
    <table class='table table-bordered table-striped table-hover'>
      <tr><th colspan='3'>Calculated Elements</th></tr>
      <tr>
        <th>Name</th>
        <th colspan='2'>Elements</th>
      </tr>
      <tr data-ng-repeat='g in curGame.calc'>
        <td><input class="form-control" data-ng-model='g.name'></td>
        <td>
          <table>
            <tr>
              <td>Element</td>
              <td>Worth</td>
            </tr>
            <tr data-ng-repeat='p in g.elements'>
              <td>
                <select class="form-control" data-ng-model='p.name'>
                  <option data-ng-repeat='L in curGame.game | filter: {type:"!String"} '>{{L.name}}</option>
                </select>
              </td>
              <td><input class="form-control" type='number' data-ng-model='p.worth'></td>
              <td>
                <button class='btn btn-sm btn-danger' data-ng-click='g.elements.splice($index,1)'>
                  <span class='glyphicon glyphicon-minus-sign' aria-hidden="true"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-sm btn-success" data-ng-click='g.elements.push({name:"",worth:""})'>
                  <span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>
              </button>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <button class='btn btn-sm btn-danger' data-ng-click="curGame.calc.splice($index,1)">
            <span class='glyphicon glyphicon-minus-sign' aria-hidden="true"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan='3'>
          <button class="btn btn-sm btn-success" data-ng-click='curGame.calc.push({name:"",elements:[{name:"",worth:""}]})'>
            <span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
<hr>
<button class='btn btn-primary' data-ng-click='editGame(curGame)'>Save Changes</button>
<span ng-show='success.editGame' class="text-success">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Game changed!
</span>
<span ng-show='error.editGame' class="text-danger" style="cursor:pointer;" title="{{error.editGame}}">
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span><span>Error!</span>
</span>
