<div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/game/{{curGame.name}}">{{curGame.name}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/game/{{curGame.name}}/add">Add</a></li>
      <li><a href='#/game/{{curGame.name}}/edit'>Edit Game</a></li>
      <li><a href='#/game/{{curGame.name}}/subs'>Submissions</a></li>
      <li><a href='#/game/{{curGame.name}}/teams'>Teams</a></li>
      <li><a href='#/game/{{curGame.name}}/matches'>Matches</a></li>
      <li><button data-ng-show='!connected' class='bg-primary' data-ng-click='init()' class='bg-success btn btn-success'>Update</button></li>
      <li>
        <span data-ng-show='!connected'class='label label-danger bg-primary'>Disconnected!</span>
        <span data-ng-show='connected' class='label label-success bg-primary'>Connected!</span>
      </li>
    </ul>
  </nav>
  <div data-ui-view>
    <div class="jumbotron">
      <div class="container">
        <h1>{{curGame.name}}</h1>
        <p>{{curGame.description}}</p>
        <p><a class="btn btn-primary btn-lg" href='#/game/{{curGame.name}}/add' role='button'>Add data</a></p>
        <p><a class="btn btn-primary btn-lg" href='#/game/{{curGame.name}}/teams' role='button'>View teams</a></p>
        <p><a class="btn btn-primary btn-lg" href='#/game/{{curGame.name}}/edit' role='button'>Edit game</a></p>
        <p><a class="btn btn-primary btn-lg" href='#/game/{{curGame.name}}/subs' role='button'>View submissions</a></p>
      </div>
    </div>
  </div>
</div>
