<h2>{{game.name}}</h2>
<p>ID:{{game._id}}</p>
<table class='table table-bordered table-striped table-hover'>
  <tr>
    <th colspan='500'>Sample Match</th>
  </tr>
  <tr>
    <td data-ng-repeat='q in game.game'>{{q.name}}</td>
    <td data-ng-repeat='k in game.calc'>{{k.name}}</td>
  </tr>
  <tr>
    <td data-ng-repeat='p in game.game'>
      <input data-ng-if='p.type==="String"' class="form-control" data-ng-model='sample.elements[p.name]' placeholder='wow!'>
      <form data-ng-if='p.type==="Boolean"'>
        <input type="radio" ng-model="sample.elements[p.name]" ng-value="sTrue">True<br/>
        <input type="radio" ng-model="sample.elements[p.name]" ng-value="sFalse">False<br/>
      </form>
      <span data-ng-if='p.type==="Number"'>
        <h4>{{sample.elements[p.name] || 0 }}
          <button ng-click="sample.elements[p.name] = sample.elements[p.name] + 1" class="btn btn-xs btn-info">+</button>
          <button ng-click="sample.elements[p.name] = sample.elements[p.name] - 1" class="btn btn-xs btn-warning">-</button>
        </h4>
      </span>
    </td>
    <td data-ng-repeat='h in game.calc'>{{getValue(sample.elements || [],h.elements || [])}}</td>
  </tr>
</table>
<hr>
<table class='table table-bordered table-striped table-hover'>
  <tr><th colspan='2'>Game Elements</th></tr>
  <tr>
    <th>Name</th>
    <th>Data Type</th>
  </tr>
  <tr data-ng-repeat='x in game.game'>
    <td><input class="form-control" data-ng-model='x.name'></td>
    <td>
      <select class="form-control" data-ng-model='x.type'>
        <option>Number</option>
        <option>String</option>
        <option>Boolean</option>
      </select>
    </td>
    <td><button class='btn btn-sm btn-danger' data-ng-click="game.game.splice($index,1)">-</button></td>
  </tr>
  <tr><td colspan='2'><button class="btn btn-sm btn-success" data-ng-click='game.game.push({name:"",type:"String"})'>+</button></td></tr>
</table>
<hr>
<table class='table table-bordered table-striped table-hover'>
  <tr><th colspan='2'>Calculated Elements</th></tr>
  <tr>
    <th>Name</th>
    <th>Elements</th>
  </tr>
  <tr data-ng-repeat='g in game.calc'>
    <td><input class="form-control" data-ng-model='g.name'></td>
    <td>
      <table>
        <tr>
          <td>Element</td>
          <td>Worth</td>
        </tr>
        <tr data-ng-repeat='p in g.elements'>
          <td>
            <select class="form-control" data-ng-model='p.name'>
              <option data-ng-repeat='L in game.game | filter: {type:"!String"} '>{{L.name}}</option>
            </select>
          </td>
          <td><input class="form-control" type='number' data-ng-model='p.worth'></td>
          <td><button class='btn btn-sm btn-danger' data-ng-click='g.elements.splice($index,1)'>-</button></td>
        </tr>
        <tr><td><button class="btn btn-sm btn-success" data-ng-click='g.elements.push({name:"",worth:""})'>+</button></td></tr>
      </table>
    </td>
    <td><button class='btn btn-sm btn-danger' data-ng-click="game.calc.splice($index,1)">-</button></td>
  </tr>
  <tr><td colspan='2'><button class="btn btn-sm btn-success" data-ng-click='game.calc.push({name:"",elements:[{name:"",worth:""}]})'>+</button></td></tr>
</table>
<hr>
<button class='btn btn-primary' data-ng-click='editGame(curGame._id,game)'>Save Changes</button>
<button class="btn btn-warning" data-ng-click='game=curGame'>Reset</button>
