<div class="jumbotron">
  <div class="container">
    <h1>Welcome to FRC Dozer!</h1>
    <p>FRC competitions are crazy fun. Don't spend your time typing into excel sheets or scratching down notes. Use Dozer, an open-source, free web app for managing your scouting data conveniently</p>
    <p><a class="btn btn-primary btn-lg" href="#/game/Demo" role="button">Checkout A Demo Game</a></p>
	<p><a class="btn btn-primary btn-lg" href="#/login" role="button">Login/Register</a></p> 
	<p><a class="btn btn-primary btn-lg" href="https://riptiderobotics.com/sponsoring/"  target='_blank' role="button">Support The Team That Made It</a></p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/ironmig/FRCdozer"  target='_blank' role="button">Help Develop The Project On Github</a></p>

  </div>

</div>
  