<div>
  <h2>Match:{{match=getMatch(matchId);match._id}}</h2>
  <table class='table table-bordered table-striped table-hover'>
    <tr>
      <td>Team</td>
      <td data-ng-repeat='x in curGame.game'>{{x.name}}</td>
      <td data-ng-repeat='y in curGame.calc'>{{y.name}}</td>
    </tr>
    <tr>
      <td>{{match.team}}</td>
      <td data-ng-repeat='z in curGame.game'>{{match.elements[z.name]}}</td>
      <td data-ng-repeat='r in curGame.calc'>{{getValue(match.elements,r.elements)}}</td>
    </tr>
  </table>
</div>
