<button ng-click="tbaGrabMatches()" class="btn btn-primary">Grab Matches from TBA</button>
<br><br>
<div ng-show='filters.matches.key' class="label label-info" role="alert">
  <strong>{{"Filtering by "+ filters.matches.name}}<span ng-show='filters.matches.reverse'>, Decending</span></strong>
  <span ng-click='sort(undefined,"matches")' class='glyphicon glyphicon-remove-circle btn' aria-hidden="true"></span>
</div>
<table class='table table-bordered table-striped table-hover'>
  <thead>
    <tr>
      <th>
        Links
        <button class="btn btn-xs btn-primary" ng-click='sort(matchSort,"matches","Match")'><span class=" glyphicon glyphicon-sort" aria-hidden="true"></span></button>
      </th>
      <th>
        Match Time
        <button class="btn btn-xs btn-primary" ng-click='sort("time","matches","Match Time")'><span class=" glyphicon glyphicon-sort" aria-hidden="true"></span></button>
      </th>
      <th class="btn-primary">Blue Alliance</th>
      <th class="btn-danger">Red Alliance</th>
      <th ng-repeat="g in curGame.calc" class="btn-primary">
        {{g.name}}
        <button class="btn btn-xs btn-danger" ng-click='sort("blue.calc[\""+g.name+"\"]","matches","Blue"+g.name)'><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
      </th>
      <th class="btn-primary">
        TBA Score
        <button class="btn btn-xs btn-danger" ng-click='sort("blue.score","matches","Blue TBA Score")'><span class=" glyphicon glyphicon-sort" aria-hidden="true"></span></button>
      </th>
      <th ng-repeat="g in curGame.calc" class="btn-danger">
        {{g.name}}
        <button class="btn btn-xs btn-primary" ng-click='sort("red.calc[\""+g.name+"\"]","matches","Red"+g.name)'><span class=" glyphicon glyphicon-sort" aria-hidden="true"></span></button>
      </th>
      <th class="btn-danger">
        TBA Score
        <button class="btn btn-xs btn-primary" ng-click='sort("red.score","matches","Red TBA Score")'><span class=" glyphicon glyphicon-sort" aria-hidden="true"></span></button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat='x in matches | orderBy:filters.matches.key:!filters.matches.reverse'>
      <td>
        <a href='#/game/{{curGame.name}}/match/{{x.match}}'>{{x.matchObj = x.matchObj || deserializeMatch(x.match);x.match}}</a>
      </td>
      <td>{{(x.time | date:'EEEE, h:mm') || "n/a"}}</td>
      <td>
        <ul class="list-inline">
          <li ng-repeat="(y,null) in x.blue.teams">
            <a href='#/game/{{curGame.name}}/team/{{y}}'>{{y}}</a>
          </li>
        </ul>
      </td>
      <td>
        <ul class="list-inline">
          <li ng-repeat="(y,null) in x.red.teams">
            <a href='#/game/{{curGame.name}}/team/{{y}}'>{{y}}</a>
          </li>
        </ul>
      </td>
      <td ng-repeat="g in curGame.calc">
        <b>{{x.blue.calc[g.name] = matchCalc(x.blue.teams,g.elements)}}</b>
      </td>
      <td>
        {{x.blue.score || 0}}
      </td>
      <td ng-repeat="g in curGame.calc">
        <b>{{x.red.calc[g.name] = matchCalc(x.red.teams,g.elements)}}</b>
      </td>
      <td>
        {{x.red.score || 0}}
      </td>
    </tr>
  </tbody>
</table>
