<div>
    <table class='table table-bordered table-striped table-hover'>
      <thead>
        <tr>
          <th>Links</th>
          <th>Match</th>
          <th>Team</th>
          <th data-ng-repeat='z in curGame.game'>{{z.name}}</th>
          <th data-ng-repeat='g in curGame.calc'>{{g.name}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button data-ng-click='addSub(add)' class='btn btn-xs btn-success'>Add</button>
            <button data-ng-click='add = {}' class="btn btn-xs btn-danger">Reset</button>
          </td>
          <td><input class="form-control" data-ng-model='add.match'></input></td>
          <td><input class="form-control" data-ng-model='add.team' placeholder='4118'></td>
          <td data-ng-repeat='p in curGame.game'>
            <textarea data-ng-if='p.type==="String"' class="form-control" data-ng-model='add.elements[p.name]' placeholder='wow!'></textarea>
            <form data-ng-if='p.type==="Boolean"'>
              <input type="radio" ng-model="add.elements[p.name]" ng-value="true">True<br/>
              <input type="radio" ng-model="add.elements[p.name]" ng-value="false">False<br/>
            </form>
            <div data-ng-if='p.type==="Number"' class="btn-group-vertical" role="group">
              <button ng-click="add.elements[p.name] = add.elements[p.name] + 1" type="button" class="btn btn-xs btn-success">+</button>
              <button type="button" class="btn btn-sm btn-default">{{add.elements[p.name] || 0 }}</button>
              <button ng-disabled="(add.elements[p.name] || 0)<=0" ng-click="add.elements[p.name] = add.elements[p.name] - 1" type="button" class="btn btn-xs btn-danger">-</button>
            </div>
          </td>
          <td data-ng-repeat='r in curGame.calc'>{{getValue(add.elements,r.elements)}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h4>Submissions: {{subs.length}}</h4>
    <button ng-show='filt' type="button" class="btn btn-info"><span class='glyphicon glyphicon-filter' aria-hidden="true"></span> {{("Filtering by "+filt.split('.')[1]) || "no filter"}}<span ng-show='!revr'>, Decending</span></button>
    <table class='table table-bordered table-striped table-hover'>
      <thead>
        <tr>
          <th>Links</th>
          <th>Match</th>
          <th>Team</th>
          <th data-ng-repeat='x in curGame.game'>{{x.name}}  <button class="btn btn-xs btn-primary" ng-click='sort("elements."+x.name)'><span class=" glyphicon glyphicon-sort" aria-hidden="true"></span></button></th>
          <th data-ng-repeat='y in curGame.calc'>{{y.name}}  <button class="btn btn-xs btn-primary" ng-click='sort("calc."+y.name)'><span class=" glyphicon glyphicon-sort" aria-hidden="true"></span></button></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat='x in subs | orderBy:filt:revr'>
          <td>
            <a class="btn btn-xs btn-info" ng-href='#/game/{{curGame.name}}/sub/{{x._id}}'><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
            <button data-ng-click='delSub(x._id)' class='btn btn-xs btn-danger'><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
            <button data-ng-click='editSub(x)' class='btn btn-xs btn-success'><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
          </td>
          <td><input class='form-control' ng-model='x.match'></td>
          <td><a ng-href='#/game/{{curGame.name}}/team/{{x.team}}'><h4>{{x.team}}</h4></a></td>
          <td data-ng-repeat='y in curGame.game'>
            <textarea data-ng-if='y.type==="String"' class="form-control" data-ng-model='x.elements[y.name]' placeholder='wow!'></textarea>
            <form data-ng-if='y.type==="Boolean"'>
              <input type="radio" ng-model="x.elements[y.name]" ng-value="true">True
              <input type="radio" ng-model="x.elements[y.name]" ng-value="false">False
            </form>
            <div data-ng-if='y.type==="Number"' class="btn-group-vertical" role="group">
              <button ng-click="x.elements[y.name] = x.elements[y.name] + 1" type="button" class="btn btn-xs btn-success"><span class='glyphicon glyphicon-arrow-up' aria-hidden="true"></span></button>
              <button type="button" class="btn btn-sm btn-default">{{x.elements[y.name] || 0 }}</button>
              <button ng-disabled="(x.elements[y.name] || 0)<=0" ng-click="x.elements[y.name] = x.elements[y.name] - 1" type="button" class="btn btn-xs btn-danger"><span class='glyphicon glyphicon-arrow-down' aria-hidden="true"></span></button>
            </div>
          </td>
          <td data-ng-repeat='r in curGame.calc'><h4>{{x.calc[r.name] = getValue(x.elements,r.elements)}}</h4></td>
        </tr>
      </tbody>
    </table>
</div>
