<div>
    <div class='submissions'>
      <div ng-show='filters.subs.key' class="btn alert alert-info alert-dismissible" role="alert">
        <button class="close" data-dismiss="alert" aria-label="Close" ng-click='sort(undefined,"subs")'>
          <span class='glyphicon glyphicon-remove-circle' aria-hidden="true"></span>
        </button>
        <strong>{{"Filtering by "+ filters.subs.key}}<span ng-show='filters.subs.reverse'>, Decending</span></strong>
      </div>
      <div id='errors'>
        <span ng-show='success.editSub' class="text-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Submission changed!
        </span>
        <span ng-show='error.editSub' class="text-danger" style="cursor:pointer;" title="{{error.editSub}}">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span><span>Error changing submission!</span>
        </span>
        <span ng-show='success.delSub' class="text-success">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Submission removed!
        </span>
        <span ng-show='error.delSub' class="text-danger" style="cursor:pointer;" title="{{error.delSub}}">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span><span>Error removing submission!</span>
        </span>
      </div>
      <table class='table table-bordered table-striped table-hover table-condensed'>
        <thead>
          <tr>
            <th>Links</th>
            <th>Match
              <button class="btn btn-xs btn-primary" ng-click='sort("match","subs")'>
                <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
              </button>
            </th>
            <th>Team
              <button class="btn btn-xs btn-primary" ng-click='sort("team","subs")'>
                <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
              </button>
            </th>
            <th>
              Aliance
              <button class="btn btn-xs btn-primary" ng-click='sort("side","subs")'>
                <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
              </button>
            </th>
            <th data-ng-repeat='x in curGame.game'>
              {{x.name}}
              <button class="btn btn-xs btn-primary" ng-click='sort("elements[\""+x.name+"\"]","subs")'>
                <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
              </button>
            </th>
            <th data-ng-repeat='y in curGame.calc'>{{y.name}}
              <button class="btn btn-xs btn-primary" ng-click='sort("calc[\""+y.name+"\"]","subs")'>
                <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat='x in subs | orderBy:filters.subs.key:!filters.subs.reverse'>
            <td>
              <a class="btn btn-xs btn-info" ui-sref="game.sub({id:x._id})"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
              <button data-ng-click='delSub(x._id)' class='btn btn-xs btn-danger'><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
              <button data-ng-click='editSub(x)' class='btn btn-xs btn-success'><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
            </td>
            <td >
              <div class='row'>
                <div class="matchRow col-xs-12" >
                  <!-- textarea ng-model='x.match' rows='1' class="form-control" id="ex1" type="text"></textarea -->
                  <input class='form-control' ng-model='x.match'>
                  <a ui-sref="game.match({id:x.match})"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
                </div>
              </div>
            </td>
            <td><a ui-sref='game.team({num:x.team})'><h4>{{x.team}}</h4></a></td>
            <td>
              <button ng-class='x.side!="Red" ? "btn-primary" : "btn-default"' ng-click='x.side="Blue" ' class="btn">Blue</button>
              <button ng-class='x.side!="Blue" ? "btn-danger" : "btn-default"' ng-click='x.side="Red" ' class="btn">Red</button>
            </td>
            <td data-ng-repeat='y in curGame.game'>
              <textarea data-ng-if='y.type==="String"' class='form-control' data-ng-model='x.elements[y.name]'></textarea>
              <form data-ng-if='y.type==="Boolean"' ng-init='x.elements[y.name] = x.elements[y.name] || false'>
                <div class="btn-group-vertical btn-group-xs" role="group" aria-label="...">
                  <button ng-class="x.elements[y.name] ? 'btn-success': 'btn-default'" ng-click='x.elements[y.name]=true' type="button" class="btn">True</button>
                  <button ng-class="!x.elements[y.name] ? 'btn-danger': 'btn-default'" ng-click='x.elements[y.name]=false' type="button" class="btn">False</button>
                </div>
              </form>
              <div data-ng-if='y.type==="Number"' class="btn-group-vertical" role="group">
                <button ng-click="x.elements[y.name] = x.elements[y.name] + 1" type="button" class="btn btn-xs btn-success"><span class='glyphicon glyphicon-arrow-up' aria-hidden="true"></span></button>
                <button type="button" class="btn btn-sm btn-default">{{x.elements[y.name]  = x.elements[y.name] || 0 }}</button>
                <button ng-disabled="(x.elements[y.name] || 0)<=0" ng-click="x.elements[y.name] = x.elements[y.name] - 1" type="button" class="btn btn-xs btn-danger"><span class='glyphicon glyphicon-arrow-down' aria-hidden="true"></span></button>
              </div>
            </td>
            <td data-ng-repeat='r in curGame.calc'><h4>{{x.calc[r.name] = getValue(x.elements,r.elements)}}</h4></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
