<link rel="stylesheet" href="styles/table.css">
<div>
    <input data-ng-model='search'>
    <button ng-click='update()'>Update</button>
    <table class='matchTable'>
      <thead>
        <tr>
          <td><button data-ng-click='addMatch(add,true)'>Add</button></td>
          <td><input data-ng-model='add.team'></td>
          <td data-ng-repeat='p in curGame.game'><input data-ng-model='add.elements[p.name]'></td>
        </tr>
          <tr>
            <th>Links</th>
            <th>Team</th>
            <th data-ng-repeat='z in curGame.game'>{{z.name}}-{{z.type}}</th>
            <td data-ng-repeat='g in curGame.calc'>{{g.name}}</td>
          </tr>
      </thead>
        <tbody>
          <tr data-ng-repeat='x in matches'>
              <td><a ng-href='#/match/{{x._id}}'>+</a><button data-ng-click='delMatch(x._id,true)'>-</button></td>
              <td><a ng-href='#/team/{{x.team}}'><input data-ng-model='x.team' data-ng-blur='editMatch(x._id,x,true)'></a></td>
              <td data-ng-repeat='y in curGame.game'><input data-ng-model='x.elements[y.name]' data-ng-blur='editMatch(x._id,x,true)'></td>
              <td data-ng-repeat='r in curGame.calc'>{{getValue(x.elements,r.elements)}}</td>
          </tr>
    </table>
</div>
