
<div>
  <h2>Teams</h2>
  <h4 ng-show='filt'>Filtering by: {{filt}}<span ng-show='!revr'>, descending</span></h4>
  <table class='table table-bordered table-striped table-hover'>
    <thead>
      <tr>
        <th>Place</th>
        <th>Team <button class="btn btn-primary" ng-click='sort("team")'>Sort</button></th>
        <th data-ng-repeat='x in curGame.game | filter: {type:"!String"}'>{{x.name}} <button class="btn btn-primary" ng-click='sort("averages."+x.name)'>Sort</button></th>
        <th data-ng-repeat='y in curGame.calc'>{{y.name}} <button class="btn btn-primary" ng-click='sort("calc."+y.name)'>Sort</button></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat='x in teams| orderBy:filt:revr'>
        <td>{{$index+1}}</td>
        <td><a ng-href='#/team/{{x.team}}'><h4>{{x.team}}</h4></a></td>
        <td data-ng-repeat='z in curGame.game | filter: {type:"!String"}'><h4>{{x.averages[z.name] = getAverage(z.name,x.matches)}}</h4></td>
        <td data-ng-repeat='y in curGame.calc'><h4>{{x.calc[y.name] = getValue(x.averages,y.elements)}}</h4></td>
      </tr>
    </tbody>
  </table>
</div>
