
<div>
  <h1>Team: {{team=getTeam(teamNum);team.team}}</h1>
  <table class='table table-bordered table-striped table-hover'>
    <thead>
      <tr>
        <th data-ng-repeat='x in curGame.game | filter: {type:"!String"}'>Average {{x.name}}</th>
        <th data-ng-repeat='y in curGame.calc'>Average {{y.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-ng-repeat='z in curGame.game | filter: {type:"!String"}'>{{team.averages[z.name] = getAverage(z.name,team.subs)}}</td>
        <td data-ng-repeat='y in curGame.calc'>{{getValue(team.averages,y.elements)}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
  <table class='table table-bordered table-striped table-hover'>
    <thead>
      <tr>
        <th>Links</th>
        <th>Match</th>
        <th data-ng-repeat='x in curGame.game'>{{x.name}}  <button class="btn btn-xs btn-primary" ng-click='sort("elements."+x.name)'>Sort</button></th>
        <th data-ng-repeat='y in curGame.calc'>{{y.name}}  <button class="btn btn-xs btn-primary" ng-click='sort("calc."+y.name)'>Sort</button></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat='x in team.subs | orderBy:filt:revr'>
        <td>
          <a class="btn btn-xs btn-info" ng-href='#/game/{{curGame.name}}/sub/{{x._id}}'>&#60;a&#62;</a>
          <button data-ng-click='delSub(x._id)' class='btn btn-xs btn-danger'>-</button>
          <button data-ng-click='editSub(x._id)' class='btn btn-xs btn-success'>Save</button>
        </td>
        <td><input ng-model='x.match'></td>
        <td data-ng-repeat='y in curGame.game'>
          <input data-ng-if='y.type==="String"' class="form-control" data-ng-model='x.elements[y.name]' placeholder='wow!'>
          <form data-ng-if='y.type==="Boolean"'>
            <input type="radio" ng-model="x.elements[y.name]" ng-value="true">True
            <input type="radio" ng-model="x.elements[y.name]" ng-value="false">False
          </form>
          <h4 data-ng-if='y.type==="Number"'>{{x.elements[y.name] || 0 }}
            <button ng-click="x.elements[y.name] = x.elements[y.name] + 1" class="btn btn-xs btn-success">+</button>
            <button ng-if='x.elements[y.name]>0' ng-click="x.elements[y.name] = x.elements[y.name] - 1" class="btn btn-xs btn-danger">-</button>
          </h4>
        </td>
        <td data-ng-repeat='r in curGame.calc'><h4>{{x.calc[r.name] = getValue(x.elements,r.elements)}}</h4></td>
      </tr>
    </tbody>
  </table>
</div>
