.bg-yellow {
  background-color: lavender;
}

.teamImage img {
  max-width : 100%;
  max-height : 100%;
  image-orientation: from-image;
}
.averages th {
  text-align: center;
}
.average {
  border: 1px solid black !important;
  border-collapse: collapse !important;
}
.vertical {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  vertical-align:top;
}

.matchRow input{
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 80px;
}

.matchRow a {
  position: absolute;
  top: 3px;
  right: 20px;
}

.navbar.bg-primary {
  border-radius: 0  !important;
}

.nav-pills li:nth-child(n+1) a {
  padding:15px;
}