<div>
  <p>Game ID: {{curGame._id}}</p>
  <h4 ng-bind=" 'Time : ' + (curGame._id | mongoDate | date:'short') "></h4>
  <div class="row">
    <div class="col-md-6">
      <table class='table table-bordered table-striped table-hover'>
        <tr>
          <th colspan="2">
            General
          </th>
        </tr>
        <tr>
          <td>
            Name
          </td>
          <td>
            <input ng-disabled="authlevel<3" data-ng-model='curGame.name' class="form-control" placeholder="name">
          </td>
        </tr>
        <tr>
          <td>
            Description
          </td>
          <td>
            <textarea ng-disabled="authlevel<3" data-ng-model='curGame.description' class="form-control" placeholder="description"></textarea>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th colspan="2">
              The Blue Alliance Live
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Event Key
            </td>
            <td>
              <input ng-disabled="authlevel<4" data-ng-model='curGame.tba.event_key' class="form-control" placeholder="2015flor">
            </td>
          </tr>
          <tr ng-show="authlevel>=4">
            <td>
              Secret Key (MUST match secret key on TBA)
            </td>
            <td>
              <input data-ng-model='curGame.tba.key' class="form-control" placeholder="AgoodLongPassword">
            </td>
          </tr>
          <tr ng-show="authlevel>=4 && curGame.tba.verification_key">
            <td>
              Verification Code
            </td>
            <td ng-bind="curGame.tba.verification_key"></td>
          </tr>
          <tr ng-show="authlevel>=4 && !curGame.tba.verification_key">
            <td colspan="2">
              <ul>
                <li>
                  <a target="_blank" href="http://www.thebluealliance.com/webhooks/add">Add a webhook on TBA</a>
                </li>
                <li>
                  Enter {{location.origin+'/api/game/'+curGame._id+'/TBA/hook'}} as the URL
                </li>
                <li>
                  Enter the same secret key on dozer and on TBA
                </li>
                <li>
                  Subscribe to your event on TBA
                </li>
                <li>
                  <button class="btn btn-success" ng-click="updateTBAstatus()">
                    Refresh
                  </button>
                </li>
              </ul>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <table class='table table-bordered table-striped table-hover'>
        <tr>
          <th colspan='3'>
            Permissions
          </th>
        </tr>
        <tr>
          <th>
            User
          </th>
          <th colspan="2">
            Authlevel
          </th>
        </tr>
        <tr>
          <td>
            <b>Default/Others</b>
          </td>
          <td>
            <select ng-disabled="authlevel<4" class="form-control" ng-model="curGame.permissions.others">
              <option value="0">(0) Blocked</option>
              <option value="1">(1) Can View</option>
              <option value="2">(2) Can add/edit submissions and teams</option>
              <option value="3">(3) Can edit game critieria</option>
              <option value="4">(4) Can change other user's permissions (Admin)</option>
            </select>
          </td>
        </tr>
        <tr ng-repeat="(key,value) in curGame.permissions.users">
          <td>
            {{key}}
          </td>
          <td>
            <select ng-disabled="authlevel<4" class="form-control" ng-model="curGame.permissions.users[key]">
              <option value="0">(0) Blocked</option>
              <option value="1">(1) Can View</option>
              <option value="2">(2) Can add/edit submissions and teams</option>
              <option value="3">(3) Can edit game critieria</option>
              <option value="4">(4) Can change other user's permissions (Admin)</option>
            </select>
          </td>
          <td>
            <button ng-disabled="authlevel<4" class='btn btn-sm btn-danger' data-ng-click="delPermission(key)">
              <span class='glyphicon glyphicon-minus-sign' aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input ng-disabled="authlevel<4" class="form-control" ng-model="newPermission">
          </td>
          <td>
            <button ng-disabled="authlevel<4" class="btn btn-sm btn-success" data-ng-click='curGame.permissions.users[newPermission] = curGame.permissions.users[newPermission] || 1; newPermission = ""; '>
              <span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-5'>
      <table class='table table-bordered table-striped table-hover'>
        <tr>
          <th colspan='3'>Game Elements
            <p class="text-warning">WARNING! Changing these can mess up current submissions</p>
          </th>
        </tr>
        <tr>
          <th>Name</th>
          <th colspan='2'>Data Type</th>
        </tr>
        <tr data-ng-repeat='x in curGame.game'>
          <td>
            <input ng-disabled="authlevel<3" class="form-control" data-ng-model='x.name'>
          </td>
          <td>
            <select ng-disabled="authlevel<3" class="form-control" data-ng-model='x.type'>
              <option value="Number">Number</option>
              <option value="String">String</option>
              <option value="Boolean">Boolean</option>
            </select>
          </td>
          <td>
            <button ng-disabled="authlevel<3" class='btn btn-sm btn-danger' data-ng-click="curGame.game.splice($index,1)">
              <span class='glyphicon glyphicon-minus-sign' aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan='2'>
            <button ng-disabled="authlevel<3" class="btn btn-sm btn-success" data-ng-click='curGame.game.push({name:"",type:"String"})'>
              <span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class='col-md-7'>
      <table class='table table-bordered table-striped table-hover'>
        <tr>
          <th colspan='3'>Calculated Elements</th>
        </tr>
        <tr>
          <th>Name</th>
          <th colspan='2'>Elements</th>
        </tr>
        <tr data-ng-repeat='g in curGame.calc'>
          <td>
            <input ng-disabled="authlevel<3" class="form-control" data-ng-model='g.name'>
          </td>
          <td>
            <table>
              <tr>
                <td>Element</td>
                <td>Worth</td>
              </tr>
              <tr data-ng-repeat='p in g.elements'>
                <td>
                  <select ng-disabled="authlevel<3" class="form-control" data-ng-model='p.name'>
                    <option data-ng-repeat='L in curGame.game | filter: {type:"!String"} '>{{L.name}}</option>
                  </select>
                </td>
                <td>
                  <input ng-disabled="authlevel<3" class="form-control" type='number' data-ng-model='p.worth'>
                </td>
                <td>
                  <button ng-disabled="authlevel<3" class='btn btn-sm btn-danger' data-ng-click='g.elements.splice($index,1)'>
                    <span class='glyphicon glyphicon-minus-sign' aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <button ng-disabled="authlevel<3" class="btn btn-sm btn-success" data-ng-click='g.elements.push({name:"",worth:""})'>
                    <span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>
                  </button>
                </td>
              </tr>
            </table>
          </td>
          <td>
            <button ng-disabled="authlevel<3" class='btn btn-sm btn-danger' data-ng-click="curGame.calc.splice($index,1)">
              <span class='glyphicon glyphicon-minus-sign' aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan='3'>
            <button ng-disabled="authlevel<3" class="btn btn-sm btn-success" data-ng-click='curGame.calc.push({name:"",elements:[{name:"",worth:""}]})'>
              <span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-7">
      <table class='table table-bordered table-striped table-hover'>
        <thead>
          <tr>
            <th colsspan="2">Team Metrics (pit scouting)</th>
          </tr>
          <tr>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in curGame.teamMetrics">
            <td>
              <input ng-disabled="authlevel<3" class="form-control" ng-model='x.name'>
            </td>
            <td>
              <select ng-disabled="authlevel<3" class="form-control" data-ng-model='x.type'>
                <option value="Number">Number</option>
                <option value="String">String</option>
                <option value="Boolean">Boolean</option>
                <option value="SelectOne">Select One</option>
                <option value="SelectMult">Select Multiple</option>
              </select>
            </td>
            <td ng-if="x.type === 'SelectOne' || x.type === 'SelectMult' " ng-init="x.options.choices = x.options.choices || ['']">
              <table>
                <tr ng-repeat="choice in x.options.choices track by $index">
                  <td>
                    <input ng-disabled="authlevel<3" ng-model='x.options.choices[$index]' class="form-control">
                  </td>
                  <td>
                    <button ng-disabled="authlevel<3" class='btn btn-xs btn-danger'
                            ng-click="x.options.choices.splice($index,1)">
                      <span class='glyphicon glyphicon-minus-sign' aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                     <button ng-disabled="authlevel<3" class="btn btn-sm btn-success" ng-click='x.options.choices.push("")'>
                      <span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>
                    </button>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <button ng-disabled="authlevel<3" class='btn btn-sm btn-danger' data-ng-click="curGame.teamMetrics.splice($index,1)">
                <span class='glyphicon glyphicon-minus-sign' aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button ng-disabled="authlevel<3" class="btn btn-sm btn-success" data-ng-click='curGame.teamMetrics.push({})'>
                <span class='glyphicon glyphicon-plus-sign' aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <button class='btn btn-primary' ng-disabled="authlevel<3" data-ng-click='editGame(curGame)'>Save Changes</button>
</div>
