<h2>Match: {{match = getMatch(matchId);matchId}}</h2>
<ul ng-show="match.videos.length" class="list-group">
  <li ng-repeat="x in match.videos" class="list-group-item"><a ng-href="{{getVideoUrl(x)}}" target="_blank">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    {{x.type}} video
  </a></li>
</ul>
<table class='table table-bordered table-striped table-hover'>
  <thead>
    <tr>
      <th>
        Match Time
        <button class="btn btn-xs btn-primary" ng-click='sort("time","matches","Match Time")'><span class=" glyphicon glyphicon-sort" aria-hidden="true"></span></button>
      </th>
      <th class="btn-primary">Blue Alliance</th>
      <th class="btn-danger">Red Alliance</th>
      <th ng-repeat="g in curGame.calc" class="btn-primary">
        {{g.name}}
      </th>
      <th class="btn-primary">
        TBA Score
      </th>
      <th ng-repeat="g in curGame.calc" class="btn-danger">
        {{g.name}}
      </th>
      <th class="btn-danger">
        TBA Score
      </th>
      <th class="bg-info">
        Winner
      </th>
    </tr>
  </thead>
  <tr>
    <td>{{(match.time | date:'EEEE, h:mm') || "n/a"}}</td>
    <td>
      <ul class="list-inline">
        <li ng-repeat="(y,x) in match.blue.teams">
          <a ng-show="x !== true" href="#/game/{{curGame.name}}/sub/{{x._id}}" class="text-success"><b>{{y}}</b></a>
          <a ng-show="x === true" href="#/game/{{curGame.name}}/team/{{y}}" class="text-warning">{{y}}</a>
        </li>
      </ul>
    </td>
    <td>
      <ul class="list-inline">
        <li ng-repeat="(y,x) in match.red.teams">
          <a ng-show="x !== true" href="#/game/{{curGame.name}}/sub/{{x._id}}" class="text-success"><b>{{y}}</b></a>
          <a ng-show="x === true" href="#/game/{{curGame.name}}/team/{{y}}" class="text-warning">{{y}}</a>
        </li>
      </ul>
    </td>
    <td ng-repeat="g in curGame.calc">
      <b>{{match.blue.calc[g.name] = matchCalc(match.blue.teams,g.elements); match.blue.calc[g.name]}}</b>
    </td>
    <td>
      <b>{{match.blue.score}}</b>
    </td>
    <td ng-repeat="g in curGame.calc">
      <b>{{match.red.calc[g.name] = matchCalc(match.red.teams,g.elements)}}</b>
    </td>
    <td>
      <b>{{match.red.score}}</b>
    </td>
    <td>
      <b>{{match.winner = winnerString(match.blue.score,match.red.score)}}</b>
    </td>
  </tr>
</table>
<h4>Blue</h4>
<div ng-show='filters.matchBlue.key' class="label label-info" role="alert">
  <strong>{{"Filtering by "+ filters.matchBlue.name}}<span ng-show='filters.matchBlue.reverse'>, Decending</span></strong>
  <span ng-click='sort(undefined,"matchBlue")' class='glyphicon glyphicon-remove-circle btn' aria-hidden="true"></span>
</div>
<table class='table table-bordered table-striped table-condensed'>
  <thead>
    <tr>
      <th>Links</th>
      <th>Team
        <button class="btn btn-xs btn-primary" ng-click='sort("team","matchBlue","Team")'>
          <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
        </button>
      </th>
      <th>
        Aliance
        <button class="btn btn-xs btn-primary" ng-click='sort("side","matchBlue","Alliance")'>
          <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
        </button>
      </th>
      <th data-ng-repeat='x in curGame.game'>
        {{x.name}}
        <button class="btn btn-xs btn-primary" ng-click='sort("elements[\""+x.name+"\"]","matchBlue",x.name)'>
          <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
        </button>
      </th>
      <th data-ng-repeat='y in curGame.calc'>{{y.name}}
        <button class="btn btn-xs btn-primary" ng-click='sort("calc[\""+y.name+"\"]","matchBlue",y.name)'>
          <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='x in matchTeams(match.blue.teams) | orderBy:filters.matchBlue.key:!filters.matchBlue.reverse'>
      <td data-title="Links">
        <a class="btn btn-xs btn-info" ui-sref="game.sub({id:x._id})"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
        <button data-ng-click='delSub(x._id)' class='btn btn-xs btn-danger'><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
        <button data-ng-click='editSub(x)' class='btn btn-xs btn-success'><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
      </td>
      <td>
        <div class='row'>
          <div class="matchRow col-xs-12" >
            <input class='form-control' ng-model='x.team'>
            <a ui-sref='game.team({num:x.team})'><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
          </div>
        </div>
      </td>
      <td>
        <button ng-class='x.side!="Red" ? "btn-primary" : "btn-default"' ng-click='x.side="Blue" ' class="btn">Blue</button>
        <button ng-class='x.side!="Blue" ? "btn-danger" : "btn-default"' ng-click='x.side="Red" ' class="btn">Red</button>
      </td>
      <td data-ng-repeat='y in curGame.game'>
        <textarea data-ng-if='y.type==="String"' class='form-control' data-ng-model='x.elements[y.name]'></textarea>
        <form data-ng-if='y.type==="Boolean"'>
          <div class="btn-group-vertical btn-group-xs" role="group" aria-label="...">
            <button ng-class="x.elements[y.name] ? 'btn-success': 'btn-default'" ng-click='x.elements[y.name]=true;x.calc=getValues(x.elements)' type="button" class="btn">True</button>
            <button ng-class="!x.elements[y.name] ? 'btn-danger': 'btn-default'" ng-click='x.elements[y.name]=false;x.calc=getValues(x.elements)' type="button" class="btn">False</button>
          </div>
        </form>
        <div data-ng-if='y.type==="Number"' class="btn-group-vertical" role="group">
          <button ng-click="x.elements[y.name] = x.elements[y.name] + 1;x.calc=getValues(x.elements)" type="button" class="btn btn-xs btn-success">
            <span class='glyphicon glyphicon-arrow-up' aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-sm btn-default">{{x.elements[y.name]}}</button>
          <button ng-disabled="(x.elements[y.name] || 0)<=0" ng-click="x.elements[y.name] = x.elements[y.name] - 1;x.calc=getValues(x.elements)" type="button" class="btn btn-xs btn-danger">
            <span class='glyphicon glyphicon-arrow-down' aria-hidden="true"></span>
          </button>
        </div>
      </td>
      <td data-ng-repeat='r in curGame.calc'><h4>{{x.calc[r.name]}}</h4></td>
    </tr>
  </tbody>
</table>
<hr>
<h4>Red</h4>
<div ng-show='filters.matchRed.key' class="label label-info" role="alert">
  <strong>{{"Filtering by "+ filters.matchRed.name}}<span ng-show='filters.matchRed.reverse'>, Decending</span></strong>
  <span ng-click='sort(undefined,"matchRed")' class='glyphicon glyphicon-remove-circle btn' aria-hidden="true"></span>
</div>
<table class='table table-bordered table-striped table-condensed'>
  <thead>
    <tr>
      <th>Links</th>
      <th>Team
        <button class="btn btn-xs btn-primary" ng-click='sort("team","matchRed","Team")'>
          <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
        </button>
      </th>
      <th>
        Aliance
        <button class="btn btn-xs btn-primary" ng-click='sort("side","matchRed","Alliance")'>
          <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
        </button>
      </th>
      <th data-ng-repeat='x in curGame.game'>
        {{x.name}}
        <button class="btn btn-xs btn-primary" ng-click='sort("elements[\""+x.name+"\"]","matchRed",x.name)'>
          <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
        </button>
      </th>
      <th data-ng-repeat='y in curGame.calc'>{{y.name}}
        <button class="btn btn-xs btn-primary" ng-click='sort("calc[\""+y.name+"\"]","matchRed",y.name)'>
          <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='x in matchTeams(match.red.teams) | orderBy:filters.matchRed.key:!filters.matchRed.reverse'>
      <td data-title="Links">
        <a class="btn btn-xs btn-info" ui-sref="game.sub({id:x._id})"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
        <button data-ng-click='delSub(x._id)' class='btn btn-xs btn-danger'><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
        <button data-ng-click='editSub(x)' class='btn btn-xs btn-success'><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
      </td>
      <td>
        <div class='row'>
          <div class="matchRow col-xs-12" >
            <input class='form-control' ng-model='x.team'>
            <a ui-sref='game.team({num:x.team})'><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
          </div>
        </div>
      </td>
      <td>
        <button ng-class='x.side!="Red" ? "btn-primary" : "btn-default"' ng-click='x.side="Blue" ' class="btn">Blue</button>
        <button ng-class='x.side!="Blue" ? "btn-danger" : "btn-default"' ng-click='x.side="Red" ' class="btn">Red</button>
      </td>
      <td data-ng-repeat='y in curGame.game'>
        <textarea data-ng-if='y.type==="String"' class='form-control' data-ng-model='x.elements[y.name]'></textarea>
        <form data-ng-if='y.type==="Boolean"'>
          <div class="btn-group-vertical btn-group-xs" role="group" aria-label="...">
            <button ng-class="x.elements[y.name] ? 'btn-success': 'btn-default'" ng-click='x.elements[y.name]=true;x.calc=getValues(x.elements)' type="button" class="btn">True</button>
            <button ng-class="!x.elements[y.name] ? 'btn-danger': 'btn-default'" ng-click='x.elements[y.name]=false;x.calc=getValues(x.elements)' type="button" class="btn">False</button>
          </div>
        </form>
        <div data-ng-if='y.type==="Number"' class="btn-group-vertical" role="group">
          <button ng-click="x.elements[y.name] = x.elements[y.name] + 1;x.calc=getValues(x.elements)" type="button" class="btn btn-xs btn-success">
            <span class='glyphicon glyphicon-arrow-up' aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-sm btn-default">{{x.elements[y.name]}}</button>
          <button ng-disabled="(x.elements[y.name] || 0)<=0" ng-click="x.elements[y.name] = x.elements[y.name] - 1;x.calc=getValues(x.elements)" type="button" class="btn btn-xs btn-danger">
            <span class='glyphicon glyphicon-arrow-down' aria-hidden="true"></span>
          </button>
        </div>
      </td>
      <td data-ng-repeat='r in curGame.calc'><h4>{{x.calc[r.name]}}</h4></td>
    </tr>
  </tbody>
</table>
<hr>
<div ng-show="match.noAlliance.length">
  <h4>No Alliance (Please Sort)</h4>
  <table class='table table-bordered table-striped table-hover table-condensed'>
    <thead>
      <tr>
        <th>Links</th>
        <th>Team
        </th>
        <th>
          Alliance
        </th>
        <th data-ng-repeat='x in curGame.game'>{{x.name}}
        </th>
        <th data-ng-repeat='y in curGame.calc'>{{y.name}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='x in match.noAlliance'>
        <td data-title="Links">
          <a class="btn btn-xs btn-info" ui-sref="game.sub({id:x._id})"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
          <button data-ng-click='delSub(x._id)' class='btn btn-xs btn-danger'><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
          <button data-ng-click='editSub(x)' class='btn btn-xs btn-success'><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
        </td>
        <td>
          <div class='row'>
            <div class="matchRow col-xs-12" >
              <input class='form-control' ng-model='x.team'>
              <a ui-sref='game.team({num:x.team})'><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
            </div>
          </div>
        </td>
        <td>
          <button ng-class='x.side!="Red" ? "btn-primary" : "btn-default"' ng-click='x.side="Blue" ' class="btn">Blue</button>
          <button ng-class='x.side!="Blue" ? "btn-danger" : "btn-default"' ng-click='x.side="Red" ' class="btn">Red</button>
        </td>
        <td data-ng-repeat='y in curGame.game'>
          <textarea data-ng-if='y.type==="String"' class='form-control' data-ng-model='x.elements[y.name]'></textarea>
          <form data-ng-if='y.type==="Boolean"'>
            <div class="btn-group-vertical btn-group-xs" role="group" aria-label="...">
              <button ng-class="x.elements[y.name] ? 'btn-success': 'btn-default'" ng-click='x.elements[y.name]=true;x.calc=getValues(x.elements)' type="button" class="btn">True</button>
              <button ng-class="!x.elements[y.name] ? 'btn-danger': 'btn-default'" ng-click='x.elements[y.name]=false;x.calc=getValues(x.elements)' type="button" class="btn">False</button>
            </div>
          </form>
          <div data-ng-if='y.type==="Number"' class="btn-group-vertical" role="group">
            <button ng-click="x.elements[y.name] = x.elements[y.name] + 1;x.calc=getValues(x.elements)" type="button" class="btn btn-xs btn-success">
              <span class='glyphicon glyphicon-arrow-up' aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-sm btn-default">{{x.elements[y.name]}}</button>
            <button ng-disabled="(x.elements[y.name] || 0)<=0" ng-click="x.elements[y.name] = x.elements[y.name] - 1;x.calc=getValues(x.elements)" type="button" class="btn btn-xs btn-danger">
              <span class='glyphicon glyphicon-arrow-down' aria-hidden="true"></span>
            </button>
          </div>
        </td>
        <td data-ng-repeat='r in curGame.calc'><h4>{{x.calc[r.name]}}</h4></td>
      </tr>
    </tbody>
  </table>
</div>
