<div>
  <h2>Submission: {{id}}</h2>
  <div ng-if="sub._id">
    <h3 ng-bind=" 'Time : ' + ( sub._id  | mongoDate | date:'short') "></h3>
    <table class='table table-bordered table-striped table-hover'>
      <thead>
        <tr>
          <th>Links</th>
          <th>Match</th>
          <th>Team</th>
          <th>
            Alliance
          </th>
          <th data-ng-repeat='x in curGame.game'>{{x.name}}</th>
          <th data-ng-repeat='y in curGame.calc'>{{y.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Links">
            <a class="btn btn-xs btn-info" ui-sref="game.sub({sub:sub._id})"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
            <button data-ng-click='delSub(sub._id)' class='btn btn-xs btn-danger'><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
            <button data-ng-click='editSub(sub)' class='btn btn-xs btn-success'><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
          </td>
          <td>
            <div class='row'>
              <div class="matchRow col-xs-12" >
                <input class='form-control' ng-model='sub.match' ng-change="sub.matchObj = deserializeMatch(sub.match)">
                <a ui-sref="game.match({match:sub.match})"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
              </div>
            </div>
          </td>
          <td>
            <div class='row'>
              <div class="matchRow col-xs-12" >
                <input class='form-control' ng-model='sub.team'>
                <a ui-sref='game.team({team:sub.team})'><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
              </div>
            </div>
          </td>
          <td>
            <button ng-class='sub.side!="Red" ? "btn-primary" : "btn-default"' ng-click='sub.side="Blue" ' class="btn">Blue</button>
            <button ng-class='sub.side!="Blue" ? "btn-danger" : "btn-default"' ng-click='sub.side="Red" ' class="btn">Red</button>
          </td>
          <td data-ng-repeat='y in curGame.game'>
            <textarea data-ng-if='y.type==="String"' class='form-control' data-ng-model='sub.elements[y.name]'></textarea>
            <form data-ng-if='y.type==="Boolean"'>
              <div class="btn-group-vertical btn-group-xs" role="group" aria-label="...">
                <button ng-class="sub.elements[y.name] ? 'btn-success': 'btn-default'" ng-click='sub.elements[y.name]=true;sub.calc=getValues(sub.elements)' type="button" class="btn">True</button>
                <button ng-class="!sub.elements[y.name] ? 'btn-danger': 'btn-default'" ng-click='sub.elements[y.name]=false;sub.calc=getValues(sub.elements)' type="button" class="btn">False</button>
              </div>
            </form>
            <div data-ng-if='y.type==="Number"' class="btn-group-vertical" role="group">
              <button ng-click="sub.elements[y.name] = sub.elements[y.name] + 1;sub.calc=getValues(sub.elements)" type="button" class="btn btn-xs btn-success">
                <span class='glyphicon glyphicon-arrow-up' aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-sm btn-default">{{sub.elements[y.name]}}</button>
              <button ng-disabled="(sub.elements[y.name] || 0)<=0" ng-click="sub.elements[y.name] = sub.elements[y.name] - 1;sub.calc=getValues(sub.elements)" type="button" class="btn btn-xs btn-danger">
                <span class='glyphicon glyphicon-arrow-down' aria-hidden="true"></span>
              </button>
            </div>
          </td>
          <td data-ng-repeat='r in curGame.calc'><h4>{{sub.calc[r.name]}}</h4></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
