<div>
  <h3>Team {{team=getTeam(teamNum); teamNum}}</h3>
  <div class='row'>
    <div class='col-md-6'>
      <form>
        <div class="form-group">
          <label class="control-label">Name</label>
          <div>
            <input ng-disabled="authlevel<2" ng-model='team.name' class="form-control">
          </div>
        </div>
          <div ng-show="team._id">
            <div class="form-group">
              <label class="control-label">Notes</label>
              <div>
                <textarea ng-disabled="authlevel<2" ng-model='team.notes' class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Upload Picture</label>
              <input ng-disabled="authlevel<2" name="files" type="file">
            </div>
          </div>
          <div class="form-group">
            <div>
              <button ng-disabled="authlevel<2" ng-click='editTeam(team,$event)' type="submit" class="btn btn-success">Save/Create</button>
                <span ng-show='success.editTeam' class="text-success">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Changed team!
                </span>
              <button ng-disabled="authlevel<2" ng-show='team._id'
                      ng-click='delTeam(team._id)' class="btn btn-danger">
                      Remove/Reset Team Info
              </button>
            </div>
          </div>
        </form>
    </div>
    <div ng-show ="team.pic" class='col-md-6'>
      <div class="teamImage">
        <img ng-src="{{team.pic}}" alt="No Picture" class="img-responsive img-rounded">
        <button ng-disabled="authlevel<2" ng-click="removeTeamPic(team)" type="button" class="close pull-left" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
  <hr>
  <div ng-show='filters.team.key' class="label label-info" role="alert">
    <strong>{{"Filtering by "+ filters.team.name}}<span ng-show='filters.team.reverse'>, Decending</span></strong>
    <span ng-click='sort(undefined,"team")' class='glyphicon glyphicon-remove-circle btn' aria-hidden="true"></span>
  </div>
  <table class='table table-bordered table-striped table-hover table-condensed'>
    <thead>
      <tr>
        <th>Links</th>
        <th>Match
          <button class="btn btn-xs btn-primary" ng-click='sort(matchSort,"team","Match")'>
            <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </th>
        <th>
          Aliance
          <button class="btn btn-xs btn-primary" ng-click='sort("side","team","Team")'>
            <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </th>
        <th data-ng-repeat='x in curGame.game'>{{x.name}}
          <button class="btn btn-xs btn-primary" ng-click='sort("elements[\""+x.name+"\"]","team",x.name)'>
            <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </th>
        <th data-ng-repeat='y in curGame.calc'>{{y.name}}
          <button class="btn btn-xs btn-primary" ng-click='sort("calc[\""+y.name+"\"]","team",y.name)'>
            <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </th>
      </tr>
      <tr class="averages">
        <th colspan="3" class="success">
          Average
        </th>
        <th ng-repeat="x in curGame.game" class="info">
          <span ng-switch="x.type">
            <span ng-switch-when="Number">{{team.averages[x.name]}}</span>
            <span ng-switch-when="Boolean">{{team.averages[x.name]*100+"%"}}</span>
          </span>
        </th>
        <th class="success" ng-repeat="y in curGame.calc">
          {{team.calc[y.name]}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='x in team.subs | orderBy:filters.team.key:!filters.team.reverse'>
        <td data-title="Links">
          <a class="btn btn-xs btn-info" ui-sref="game.sub({id:x._id})"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
          <button data-ng-click='delSub(x._id)' class='btn btn-xs btn-danger'><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
          <button data-ng-click='editSub(x)' class='btn btn-xs btn-success'><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
        </td>
        <td>
          <div class='row'>
            <div class="matchRow col-xs-12" >
              <input class='form-control' ng-model='x.match' ng-change="x.matchObj = deserializeMatch(x.match)">
              <a ui-sref="game.match({id:x.match})"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a>
            </div>
          </div>
        </td>
        <td>
          <button ng-class='x.side!="Red" ? "btn-primary" : "btn-default"' ng-click='x.side="Blue" ' class="btn">Blue</button>
          <button ng-class='x.side!="Blue" ? "btn-danger" : "btn-default"' ng-click='x.side="Red" ' class="btn">Red</button>
        </td>
        <td data-ng-repeat='y in curGame.game'>
          <textarea data-ng-if='y.type==="String"' class='form-control' data-ng-model='x.elements[y.name]'></textarea>
          <form data-ng-if='y.type==="Boolean"'>
            <div class="btn-group-vertical btn-group-xs" role="group" aria-label="...">
              <button ng-class="x.elements[y.name] ? 'btn-success': 'btn-default'" ng-click='x.elements[y.name]=true;x.calc=getValues(x.elements);team=fixTeam(team)' type="button" class="btn">True</button>
              <button ng-class="!x.elements[y.name] ? 'btn-danger': 'btn-default'" ng-click='x.elements[y.name]=false;x.calc=getValues(x.elements);team=fixTeam(team)' type="button" class="btn">False</button>
            </div>
          </form>
          <div data-ng-if='y.type==="Number"' class="btn-group-vertical" role="group">
            <button ng-click="x.elements[y.name] = x.elements[y.name] + 1;x.calc=getValues(x.elements);team=fixTeam(team)" type="button" class="btn btn-xs btn-success">
              <span class='glyphicon glyphicon-arrow-up' aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-sm btn-default">{{x.elements[y.name]}}</button>
            <button ng-disabled="(x.elements[y.name] || 0)<=0" ng-click="x.elements[y.name] = x.elements[y.name] - 1;x.calc=getValues(x.elements);team=fixTeam(team)" type="button" class="btn btn-xs btn-danger">
              <span class='glyphicon glyphicon-arrow-down' aria-hidden="true"></span>
            </button>
          </div>
        </td>
        <td data-ng-repeat='r in curGame.calc'><h4>{{x.calc[r.name]}}</h4></td>
      </tr>
    </tbody>
  </table>
</div>
