<div>
  <h2>Teams</h2>
  <form class="form-inline">
    <div class="form-group">
      <input ng-disabled="authlevel<2" ng-model="newTeam.team" class="form-control" placeholder="Number">
    </div>
    <div class="form-group">
      <input ng-disabled="authlevel<2" ng-model="newTeam.name" class="form-control" placeholder="Name">
    </div>
    <button ng-click="editTeam(newTeam)" ng-disabled="authlevel<2" type="submit" class="btn btn-success">Add Team</button>
    <button ng-click="tbaGrabTeams()" ng-disabled="authlevel<2" class="btn btn-primary">Grab Teams from TBA</button>
  </form>
  <hr>
  <div ng-show='filters.teams.key' class="label label-info" role="alert">
    <strong>Filtering by {{filters.teams.name}}<span ng-show='filters.teams.reverse'>, Decending</span></strong>
    <span ng-click='sort(undefined,"teams")' class='glyphicon glyphicon-remove-circle btn' aria-hidden="true"></span>
  </div>
  <br>
  <table class='table table-bordered table-striped table-hover'>
    <thead>
      <tr>
        <th>Place</th>
        <th>Info
          <button class="btn btn-xs btn-primary" ng-click='sort("subs.length","teams","# of submissions")'>
            <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </th>
        <th>#
          <button class="btn btn-xs btn-primary" ng-click='sort("team","teams","Team number")'>
            <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </th>
        <th>Name
          <button class="btn btn-xs btn-primary" ng-click='sort("name","teams","Team name")'>
            <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </th>
        <th data-ng-repeat='x in curGame.game | filter: {type:"!String"}'>{{x.name}}
          <button class="btn btn-xs btn-primary" ng-click='sort("averages[\""+x.name+"\"]","teams","Average "+x.name)'>
            <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </th>
        <th data-ng-repeat='y in curGame.calc'>
          {{y.name}}
          <button class="btn btn-xs btn-primary" ng-click='sort("calc[\""+y.name+"\"]","teams","Average"+y.name)'>
            <span class=" glyphicon glyphicon-sort" aria-hidden="true"></span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat='x in teams | orderBy:filters.teams.key:!filters.teams.reverse'>
        <td><h4>{{$index+1}}</h4></td>
        <td>
          <span class='badge'>{{x.subs.length}}</span>
          <span ng-show="x.pic" class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </td>
        <td><a ui-sref='game.team({num:x.team})'><h4>{{x.team}}</h4></a>
        </td>
        <td><a ui-sref='game.team({num:x.team})'>{{x.name}}</a></td>
        <td data-ng-repeat='z in curGame.game | filter: {type:"!String"}'><h4>{{x.averages[z.name]}}</h4></td>
        <td data-ng-repeat='y in curGame.calc'><h4>{{x.calc[y.name]}}</h4></td>
      </tr>
    </tbody>
  </table>
</div>
